@import "tokens.colors.css";

:root {
  --background: var(--neutral-color-1);
  --foreground: var(--neutral-color-12);

  --muted: var(--neutral-color-4);
  --muted-foreground: var(--neutral-color-11);

  --popover: var(--neutral-color-1);
  --popover-foreground: var(--neutral-color-12);

  --border: var(--neutral-color-7);
  --input: var(--neutral-color-7);

  --card: var(--neutral-color-1);
  --card-foreground: var(--neutral-color-12);

  --primary: var(--neutral-color-12);
  --primary-foreground: var(--neutral-color-1);

  --secondary: var(--neutral-color-4);
  --secondary-foreground: var(--neutral-color-12);

  --accent: var(--neutral-color-4);
  --accent-foreground: var(--neutral-color-12);

  /*--destructive: var(--destructive-9);*/
  /*--destructive-foreground: var(--destructive-12);*/

  --ring: var(--neutral-color-8);
}
